DATABASE_URL = "postgres://YourUserName:YourPassword@YourHostname:5432/YourDatabaseName"
CLOUDINARY_CLOUD_NAME = ""
CLOUDINARY_API_KEY = ""
CLOUDINARY_API_SECRET = ""
JWT_SECRET =""
EMAIL = "for sending emails"
EMAIL_PASSWORD ="password for sending emails"
SHOP_BASE_URL = "http://localhost:3000" 